* {
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    /* z-index: -1; */
    height: 100vh;
    width: 100%;
    background-color: #000000;
    /* background: url("../../res/black-for-login.jpg"); */
    background-size: cover;
    background-position: center;
}

::placeholder {
    color: #d1d1d1;
}

.logo img {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-just-below-logo {
    text-align: center;
    font-size: 25px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 40px 40px;
    border: 2px solid #f3382f;
    border-radius: 6px;
    width: 500px;
}

.input-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.input-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border: 2px solid #eeeeee;
    border-radius: 100%;
    transition-duration: 0.4s;
}

.input-img:hover {
    border: 2px solid #f3382f;
}

.textbox {
    width: 100%;
    background-color: #000000;
    border: none;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    font-size: 20px;
    margin: 12px 0px;
    margin-bottom: 30px;
    padding: 8px 0px;
}

.mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.textbox-mini {
    width: 48%;
    background-color: #000000;
    border: none;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    font-size: 20px;
    margin: 12px 0px;
    margin-bottom: 30px;
    padding: 8px 0px;
}

.textbox i {
    width: 2em;
    float: left;
    text-align: center;
}

.textbox-mini i {
    width: 2em;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: #eeeeee;
    font-size: 1em;
    width: 20em;
    float: left;
    margin: 0.5px;
}

.textbox-mini input {
    border: none;
    outline: none;
    background: none;
    color: #eeeeee;
    font-size: 1em;
    width: 20em;
    float: left;
    margin: 0.5px;
}

.radio {
    display: grid;
    grid-gap: 10px;
    color: #eeeeee;
    width: 100%;
    margin: 12px 0px;
    text-align: center;
}

.noob {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #f3382f;
}

.intermediate {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #f87004;
}

.expert {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #ff8426;
}

.elite {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #fb9f05;
}

.experience-button {
    padding: 10px 10px;
    border: 2px solid #eeeeee;
    border-radius: 8px;
}

.experience-button a {
    text-decoration: none;
}

.coding-experience-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.radio-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio label {
    font-size: 20px;
}

.btn-placement {
    display: flex;
    justify-content: center;
}

.btn {
    width: 60%;
    border-radius: 8px;
    background-color: #f3382f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    padding: 8px 8px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 20px;
}

.btn:hover {
    border: 2px solid #eeeeee;
    background-color: #000000;
    color: #eeeeee;
}

.btn span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.4s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

footer {
    background-color: #101010;
    padding: 20px 20px;
    text-align: center;
}

footer img {
    width: 10%;
}

footer p {
    color: #eeeeee;
    padding-bottom: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info li {
    list-style-type: none;
    font-size: 18px;
    padding: 20px 5px;
}

.copyright {
    color: #616161;
    font-size: 14px;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}